{% extends 'TwatMagBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>A report published by some sort of idiot thinktank suggested that Niggle Faraaaaaaaaaaaaaaaaaaaaaaaaarj is a massive racist who likes to bathe in pools of black peoples' tears.</p>
    </article>
{% endblock %}